@media screen and (max-width: 600px) {
  body {
    max-width: 380px;
  }
  .input-container,
  .popular-container,
  .chose-container,
  .newsletter-container,
  .testimonial-container {
    flex-direction: column;
  }

  /* nav bar section start================== */
  header {
    width: 360px;
  }

  .nav-container {
    gap: 70px;
    justify-content: center;
    align-items: center;
    /* margin-left: 65px; */
    margin: 0px;
    margin-bottom: 15px;
    width: auto;
  }
  .links {
    display: none;
  }
  .hm-btn {
    display: block;
  }

  .logo-design {
    font-size: 1.2rem;
  }
  .nav-logo h3 {
    font-size: 1.2rem;
  }

  /* banner section-================== */

  .input-container {
    width: 287px;
    /* padding: 16px; */
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .input-container input,
  select,
  .banner-btn button {
    width: 255px;
    height: 52px;
  }
  .banner-section {
    object-fit: cover;
    width: 350px;
    height: 483px;
    /* margin: 20px;  */
    align-items: center;
    margin: 0px;
    object-fit: cover;
    margin-left: 10px;
  }
  .banner-title {
    width: 250px;
    font-size: 1.5rem;
    padding-top: 20px;
    margin-left: 50px;
  }
  .banner-description {
    margin-left: 16px;
    width: 304px;
    padding-bottom: 24px;
    padding-top: 16px;
  }

  /* popular section start==================== */

  .popular-title {
    font-size: 1.2rem;
    width: 360px;
    margin-top: 20px;
  }
  .populer-info p,
  .populer-info li {
    width: 360px;
    font-size: 0.8rem;
  }
  .popular-img img,
  .newsletter-img img {
    width: 320px;
    height: 360px;
  }
  .popular-container {
    margin: 0px;
    margin-left: 10px;
  }
  .populer-info {
    width: 340;
    height: 420;
  }

  /* destination section start =================== */

  .destination-section {
    width: 370px;
    margin-top: 50px;
  }

  .destination-section p {
    width: 309px;
    margin-left: 10px;
  }
  .img-container h5 {
    font-size: 1rem;
    font-weight: 500;
  }
  .destination-title {
    font-size: 1.2rem;
    margin-bottom: 25px;
    width: 360px;
  }
  .destination {
    margin-left: 10px;
    width: 360px;
  }
  .img-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7/ 1fr);
    width: 370px;
    object-fit: cover;
    margin: 0px;
  }

  .img-container img {
    width: 335px;
    height: 176px;
  }

  .destination-maldiv {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-indonesia {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-srilanka {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-america {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-kasmir {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-bangladesh {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    width: 335px;
    height: 176px;
  }

  .destination-bandarban {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    width: 335px;
    height: 176px;
  }

  .position-maldivs {
    position: relative;
    bottom: 120px;
    left: 140px;
    width: 100px;
    /* transform: translate(-50%, -50%); */
  }

  /* .position-indonesia {
    position: relative;
    bottom: 120px;
    left: 140px;
    width: 100px;
  } */
  .position-indonesia,
  .position-America,
  .position-Kashmir,
  .position-srilanka,
  .position-bangladesh,
  .position-bandarban,
  .position-maldivs {
    position: relative;
    bottom: 100px;
    left: 110px;
    width: 130px;
  }

  /* chose section=========--------- */
  .chose-title {
    font-size: 1.2rem;
    width: 330px;
    margin-left: 10px;
  }
  .chose-section {
    width: 370px;
  }

  .chose-description {
    text-align: center;
    width: 310px;
    /* margin-left: 160px; */
    margin: 20px 0px 20px 30px;
  }

  .chose-price {
    position: static;
  }

  .chose-hotel p,
  .chose-service p,
  .chose-price p {
    width: 310px;
  }
  .chose-hotel,
  .chose-service,
  .chose-price {
    width: 310px;
    margin-left: 15px;
  }

  /* newsletter section=================- */
  .newsletter-section {
    width: 360px;
  }
  .saving {
    width: 190px;
    height: 65px;
    position: relative;
    left: 145px;
    bottom: 100px;
  }
  .saving p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 15px;
  }
  .saving h3 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800px;
  }

  .newsletter-container {
    width: 360px;
    margin-left: 10px;
  }
  .newsletter-info {
    width: 310px;
    height: 360px;
    padding: 15px;
  }
  .newsletter-info p,
  .newsletter-info input,
  .newsletter-info button {
    width: 300px;
  }
  .newsletter-img img {
    width: 340px;
    height: 300px;
  }

  /* footer section================ */
  footer {
    width: 340px;
    height: 300px;
    margin-left: 10px;
  }
  .footer > p {
    width: 287px;
    margin: 0px;
    margin-top: 20px;
    /* margin-left: 20px; */
  }
  .footer {
    padding-top: 10px;
    /* margin-left: 10px; */
  }
  .footer hr {
    width: 70%;
    margin-left: 50px;
  }
  .footer-title h3,
  .title-design {
    font-size: 1.2rem;
    font-weight: 800px;
  }
  .footer img {
    width: 33px;
    height: 33px;
  }
  /* testimonialsection====================== */
  .testimonial > h3 {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    width: 350px;
  }
  .testimonial-container {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .testimonial {
    width: 360px;
  }
}
